h1{
	font-family: Impact;
}

html{ 
    background-color: #A9A9A9;
}

.center{ 
	display: block;
        margin-left: auto;
	margin-right: auto;
	width: 300px;
}
h2{
	font-family: 'Critter';
	text-align: center;
	font-size: 30px;
}
